*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-1: #8F6A4D;
    --color-2: #9D8169;
    --color-3: #C7B5A9;
    --color-4: #A0846C;
    --color-amarillo: #FFCA00;
    --color-negro: #031119;
    --color-naranja: #fb8500;
}

body{
    background-color: white;   
}

/*SCROLL*/

body::-webkit-scrollbar {
    width: 12px;         
}

body::-webkit-scrollbar-track {
    background: var(--color-2);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-3);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--color-2);  /* creates padding around scroll thumb */
}

 /*GENERAL */

.wsp{
    position: fixed;
    top: 90%;
    left: 94%;
}

.whatsapp{
    width: 7rem;
    height: 7rem;
    opacity: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.whatsapp:hover{
    opacity: 100%;
}

.section__title{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-negro);
    margin-bottom: 3rem;
}


.nosotros, .portfolio, .servicios, .contacto, .container__img_principal{
    padding: 2rem 0;
}

/* BOOTSTRAP NAV */

nav{
    background-color: var(--color-negro);
    border-bottom: 1px solid var(--color-amarillo);
}

.nav-link{
    font-size: 1.6rem;
    font-weight: lighter;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    margin: 0 1rem;
}

.nav-link:hover{
    color: var(--color-amarillo);
}

.navbar-toggler{
    background-color: white;
    width: 7rem;
    height: 5rem;
}

.navbar-nav{
    text-align: center;
}

.navbar-toggler-icon{
    color: black;
}

.logo{
    width: 7rem;
    height: 7rem;
    border-radius: 20%;
    margin: 0 1rem;
    transition: 0.25s;
}

.logo:hover{
    transform: scale(1.1);
}


/* MAIN */

    /*CONTAINER PRINCIPAL*/

.container__img_principal{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../multimedia/renders-jpg/principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

    /* NOSOTROS */

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../multimedia/backgrounds/cube-drawing.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: 25%;
    min-height: 100vh;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 3rem 0;
}

.nosotros__texto{
    width: 80%;
    margin: 5rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 1.5rem 0 ;
}

.text{
    color: var(--color-negro);
    text-align: center;
    padding: 0.5rem 0;
    font-size: 2.5rem;
}

    /* PORTFOLIO */

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
        /* GALERIA*/

        .galeria{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

        .galeria a{
            height: 200px;
            width: 350px;
            margin: 20px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 3px 5px var(--color-negro);
        }

        .galeria a:hover{
            box-shadow: 0 0px 10px var(--color-negro);
        }

        .galeria__img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        .galeria__img:hover{
            transform: scale(1.2);
        }

    /* SERVICIOS */

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.ul__servicios{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.li__servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    box-shadow: 0 3px 30px var(--color-negro);
    margin: 1rem;
}

.li__servicios_title{
    font-size: 2.5rem;
}

.li__servicios_p{
    font-size: 1.5rem;
}

/* CONTACTO */

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 1rem;
    background-color: var(--color-amarillo);
    border-radius: 10px;
}

input {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
}

textarea{
    width: 50rem;
    height: 50%;
    font-size: 2rem;
    resize: none;
    margin: 1rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0.5rem;
}

input:hover, textarea:hover{
    outline: 1px solid var(--color-naranja);
}

.btn__form{
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    font-weight: lighter;
    background-color: var(--color-negro);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 3px 5px var(--color-negro);
}

.btn__form:hover{
    background-color: var(--color-naranja);
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100;
    margin: 0;
    padding: 0;
    height: 15rem;
    background-color: var(--color-negro);
    color: white;
}

.footer__div_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50rem;
}

.footer__logo{
    width: 13rem;
    height: 13rem;
    border-radius: 20%;
    border: 1.5px solid black;
    margin: 0 0.5rem;
}

.footer__div_datos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13rem;
}

.footer__contacto{
    display: flex;
    flex-direction: column;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes__logo{
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 100%;
    border: 2px solid white;
    transition: 0.3s;
}

.redes__logo:hover{
    transform: scale(1.2);
}

.footer__p{
    font-size: 1.5rem;
    margin: 0 0;
    font-weight: lighter;
    width: 100%;
}


/* MEDIAQUERIES */

@media screen and (max-width: 1024px){
    .wsp{
        left: 87%;
    }

    .whatsapp{
        width: 6rem;
        height: 6rem;
    }
    
}

@media screen and (max-width: 425px) {

    .wsp{
        left: 83%;
    }

    .whatsapp{
        width: 4.5rem;
        height: 4.5rem;
    }
    
    .footer__p{
        font-size: 1rem;
    }

    .redes__logo{
        width: 4rem;
        height: 4rem;
    }

}