*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-1: #8F6A4D;
    --color-2: #9D8169;
    --color-3: #C7B5A9;
    --color-4: #A0846C;
    --color-amarillo: #FFCA00;
    --color-negro: #031119;
    --color-naranja: #fb8500;
}

body{
    background-color: white;   
}

/*SCROLL*/

body::-webkit-scrollbar {
    width: 12px;         
}

body::-webkit-scrollbar-track {
    background: var(--color-2);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-3);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--color-2);  /* creates padding around scroll thumb */
}

 /*GENERAL */

.whatsapp{
    position: fixed;
    width: 7rem;
    height: 7rem;
    top: 90%;
    left: 95%;
    opacity: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.whatsapp:hover{
    opacity: 100%;
}

.section__title{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-1);
    margin-bottom: 3rem;
}

.text{
    color: var(--color-2);
    padding: 0.5rem 0;
}

.nosotros, .portfolio, .servicios, .contacto, .container__img_principal{
    padding-top: 10rem;
}

/*NAVBAR */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    background-color: var(--color-negro);
    border-bottom: 1px solid var(--color-amarillo);
    position:fixed;
    width: 100%;
    z-index: 10000000;
}

.logo{
    width: 7rem;
    height: 7rem;
    border-radius: 20%;
    margin-left: 1rem;
    transition: 0.25s;
}

.logo:hover{
    transform: scale(1.1);
}

ul{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem 0 0;
    list-style-type: none;
    padding: 0;
}

.li__navbar{
    font-size: 1.5rem;
    font-weight: lighter;
    cursor: pointer;
    color: white;
    transition: 0.2s;
    margin: 0 0.5rem;
}

.li__navbar:hover{
    transform: scale(1.2);
    color: var(--color-amarillo);
}

.li__navbar:active{
    color: red;
}

.nav__links{
    text-decoration: none;
}

span{
    color: var(--color-amarillo);
    margin: 0 1.2rem;
}

/* MAIN */

    /*CONTAINER PRINCIPAL*/

.container__img_principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../multimedia/renders/principal.png);
    background-repeat: no-repeat;
    background-position: center;
}

    /* NOSOTROS */

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros__texto{
    width: 80%;
    font-size: 3.5rem;
    text-align: center;
    margin: 5rem 0;
}

    /* PORTFOLIO */

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
        /* GALERIA*/

        .galeria{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }

        .galeria a{
            height: 200px;
            width: 500px;
            margin: 20px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 3px 5px var(--color-negro);
        }

        .galeria__img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 0.3s;
        }

        .galeria__img:hover{
            transform: scale(1.2);
        }

    /* SERVICIOS */

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
}

.ul__servicios{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.li__servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 10px;
    width: 30rem;
    height: 30rem;
    box-shadow: 0 3px 30px var(--color-negro);
}

.li__servicios_title{
    font-size: 2.5rem;
}

.li__servicios_p{
    font-size: 1.5rem;
}

/* CONTACTO */

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    padding: 1rem;
    background-color: var(--color-amarillo);
    border-radius: 10px;
}

input {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
}

textarea{
    width: 50rem;
    height: 50%;
    font-size: 2rem;
    resize: none;
    margin: 1rem 0;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0.5rem;
}

input:hover, textarea:hover{
    outline: 1px solid var(--color-naranja);
}

button{
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    font-weight: lighter;
    background-color: var(--color-negro);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover{
    background-color: var(--color-naranja);
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100;
    margin: 0;
    padding: 0;
    height: 15rem;
    background-color: var(--color-negro);
    color: white;
}

.footer__div_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    text-align: center;
}

.footer__logo{
    width: 13rem;
    height: 13rem;
    border-radius: 20%;
    border: 1.5px solid black;
}

.footer__div_datos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
}

.footer__contacto{
    width: 30rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes__logo{
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    border-radius: 100%;
    border: 2px solid white;
    transition: 0.3s;
}

.redes__logo:hover{
    transform: scale(1.2);
}

.footer__p{
    font-size: 1.5rem;
    margin: 0;
    font-weight: lighter;
}

/* MEDIAQUERIES */

@media screen and (max-width: 768px) {



}